#app {
    width: 480px;
    height: 100px;
    margin: 200px auto;
}

#app img {
    height: 50px;
}
.r-img{
    float: right;
    height: 50px;
}
.input-num{
    margin-top: 20px;
    height: 100%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 4px #000000;
    /* 
        向 div 元素添加阴影：
        box-shadow: h-shadow v-shadow blur spread color inset;
        h-shadow	必需的。水平阴影的位置。允许负值
        v-shadow	必需的。垂直阴影的位置。允许负值
        blur	可选。模糊距离
        spread	可选。阴影的大小
        color	可选。阴影的颜色。在CSS颜色值寻找颜色值的完整列表
        inset	可选。从外层的阴影（开始时）改变阴影内侧阴影
    */
}

.input-num button{
    width: 150px;
    height: 100%;
    font-size: 40px;
    color: gray;
    cursor: pointer;
    /* 实现鼠标移入时不同的光标 */
    border: none;
    outline: none;
}

.input-num span{
    height: 100%;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    flex: 1;
}